@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using MyWeatherApp.Data
@inject WeatherForecastService ForecastService
@inject DistrictLookupService DistrictService;

<p>天气预报</p>

@if (weather == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var forecast in weather.forecasts)
    {
        <p>@forecast.city</p>
        @foreach (var cast in forecast.casts)
        {
            <div class="flex gap-4">
                <p>@cast.date</p>
                <p>@cast.daytemp</p>
                <p>@cast.dayweather</p>
                <p>@cast.daywind</p>
            </div>
        }
    }
}

@code {
    public WeatherResponse? weather;

    public List<City>? cities;

    protected override async Task OnInitializedAsync()
    {
        cities = await DistrictService.LookUpCitiesAsync("深圳");

        weather = await ForecastService.GetWeather(cities[0].adcode);
    }
}

